{:duct.server.http/jetty {:port 3001}
 :duct.database.sql/hikaricp
 {:jdbc-url #duct/env ["TEST_DATABASE_URL" :or "jdbc:postgresql://localhost:5432/rails_tutorial_test?user=rails_tutorial&password=password123"]}}
