{:up   ["ALTER TABLE users ALTER COLUMN name SET NOT NULL;"
        "ALTER TABLE users ALTER COLUMN email SET NOT NULL;"
        "ALTER TABLE users ALTER COLUMN password_digest SET NOT NULL;"]
 :down ["ALTER TABLE users ALTER COLUMN name DROP NOT NULL;"
        "ALTER TABLE users ALTER COLUMN email DROP NOT NULL;"
        "ALTER TABLE users ALTER COLUMN password_digest DROP NOT NULL;"]}
